:root {
  --swiper-pagination-color: #734B5E;
  --swiper-pagination-bullet-size: 16px;
}

.swiper-horizontal {
  margin: 0;
}

.recent-songs-carousel.swiper, .recent-songs-carousel .swiper-wrapper {
  overflow: visible;
}

.recent-songs-carousel .swiper-slide {
  width: 19rem;
}